@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0C2B4E;
  --secondary: #1A3D64;
  --accent: #1D546C;
  --accentHover: #F4F4F4;
  --foreground: #a9a9a9;
}

* {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #0C2B4E;
}

.txtShadow {
  text-shadow: 2px 2px 5px var(--accent);
}
