.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}
.welcome-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 5rem;
}
.welcome-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
.welcome-title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
  color: var(--text-primary);
  text-shadow: 2px 2px 5px var(--text-secondary);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.sub-title {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--text-primary);
  width: 100%;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 120px;
  border-left: 2px solid var(--accent);
  border-radius: 10px;
}
.welcome-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 30%;
  height: 100%;
  flex-grow: 1;
}
.welcome-label {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
  color: var(--text-primary);
  width: 100%;
  text-align: center;
}
.welcome-user-input {
  border: 2px solid var(--accent);
  border-radius: 10px;
  width: 80%;
  padding: 1rem 0;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--surface);
  font-size: 1rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.welcome-user-input::placeholder {
  color: var(--text-secondary);
}
.welcome-user-input:hover {
  background-color: var(--surface-light);
  box-shadow: 0 4px 6px -1px var(--text-secondary);
  transform: translateY(-0.5rem);
}
.welcome-user-input:focus {
  background-color: var(--surface-light);
  transform: translateY(-0.5rem);
  outline: none;
}
.welcome-button {
  border: 2px solid var(--accent);
  border-radius: 10px;
  width: 50%;
  padding: 0.8rem 0;
  color: var(--text-primary);
  background-color: var(--surface);
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.welcome-button:hover {
  background-color: var(--surface-light);
  box-shadow: 0 4px 6px -1px var(--text-secondary);
  transform: translateY(-0.5rem);
}
.welcome-button:focus {
  outline: none;
}