<link rel="stylesheet" href="{{ url_for('static', filename='css/components/welcome.css') }}" />
<div class="welcome-container">
  <div class="welcome-title-container">
    <h1 class="welcome-title">
      Welcome to Momentum
    </h1>
    <h3 class="sub-title">
      A light-weight, task management application
    </h3>
  </div>
  <div class="welcome-body">
    <span class="welcome-body-text">
      You have not created a username
    </span>
    <span class="welcome-body-text">
      Even though this application runs locally on your system...
    </span>
    <span class="welcome-body-text">
      We ask for a username to give the app a more realistic feel!
    </span>
    <span class="welcome-body-text">
      To get started using Momentum, create a new username
    </span>
  </div>
  <form 
    method="POST"
    action="{{ url_for('register') }}"
    class="welcome-input-container"
  >
    <label for="username" class="welcome-label">
      Create A Username
    </label>
    <input 
      type="text" 
      name="username"
      id="username"
      placeholder="johnny_boy_or_girl123"
      value="{{ request.form.username if request.form else '' }}"
      required
      class="welcome-user-input"
    />
    <button 
      type="submit"
      class="welcome-button"
    >
      Get Started!
    </button>
  </form>
</div>