@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000; /* Matches the application's background color */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Matches the application's gray tones */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Slightly lighter gray for hover effect */
}